// PRIVATE VARIABLES
$_tropical-blue-100: #D4E5F9;
$_perano-blue-200: #A8CBF2;
$_jordy-blue-300: #7DB0EC;
$_cornflower-blue-400: #5196E5;
$_courius-blue-500:#267EDF;
$_fun-blue-600:#1B63B5;
$_chathams-blue-700:#144A88;
$_downriver-blue-800:#0E315B;
$_blackPearl-blue-900:#07192D;

$_mandy-red-500:#EA5075;
$_azalea-red-100:#FBDCE3;

$_turquoise-green-500:#41E1AF;
$_whiteice-green-100:#D9F9EF;

$_black-haze:#F9FAFA;
$_porcelain-lighter:#F4F5F6;
$_porcelain-ligth:#E9EBED;
$_hit-gray:#ABB5BA;
$_regent-gray:#8F9CA3;
$_slate-gray:#73838C;
$_outer-space:#2E3438;

$_bunker:#131A20;
$_mirage:#1D2730;
$_iron:#C8CDD0;


// PUBLIC VARIABLES
$primary-color:$_courius-blue-500;
$primary-color-dark:$_cornflower-blue-400;


$background-light-color: $_porcelain-lighter;
$background-lighter-color:$_black-haze;
$background-dark-color: $_mirage;
$background-darken-color:$_bunker;

$border-color:$_porcelain-ligth;

$text-color:$_slate-gray;
$text-light-color:$_regent-gray;
$text-lighter-color:$_hit-gray;
$title-color:$_outer-space;
$text-inverted-color: $_iron;
$title-inverted-color:$_porcelain-lighter;

//Others
$button-white-color:$_fun-blue-600;
$banner-strong-color:$_downriver-blue-800;

// Icon Features Colors
$background-icon-green:$_whiteice-green-100;
$icon-color-green:$_turquoise-green-500;
$background-icon-blue:$_tropical-blue-100;
$icon-color-blue: $_courius-blue-500;
$background-icon-red:$_azalea-red-100;
$icon-color-red:$_mandy-red-500;





