button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .25rem;
    transition: transform 0.2s ease-in-out;
      
    &:active {
      transform: scale(0.96);
      transform-origin: center;
    }
  }